.App{
  border: 1px solid #14101098;
  margin: 50px 30px;
  padding: 15px 20px;
}

.toDoCountaner{
  display: flex;
  flex-direction: column;
}

.toDoCountaner ul li{
  width: 180;
  overflow-wrap: break-word;
  list-style-type: "⭐";
  cursor: pointer;
}

.Don{
  text-decoration: line-through;
}

.chek{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sp{
  cursor: pointer;
}